* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.hero-section {
    width: 100%;
    height: 55vw;
}

.hero-section img {
    padding: 3vw;
    width: 100%;
    height: 100%;
    border-radius: 8vw;

}

.hero-section {
    display: none;
}

img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffec8f7b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 6vw;
}

.active {
    background-color: #ffed8f;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@media (max-width:768px) {
    .navbar{
        width: 100%;
        height: 35vw;
        background-color: #1c1a29;
        border-bottom-left-radius: 7vw;
        border-bottom-right-radius: 7vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 11px;

    }
    .nav-box1{
        width: 100%;
        height: 15vw;
     
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 4vw;
    }
    .nav-box2{
        width: 100%;
        height: 15vw;
  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-box1 img{
        width: 8.5vw;
        height: 8.5vw;
       
     
    }
    .nav-box1 h3{
   font-size: 7.2vw;
   color: whitesmoke;
   font-family: 'Dosis', sans-serif;
   letter-spacing: 0.1vw;
    }
    .box{
        width: 80%;
        height: 11vw;
        border-radius: 2.5vw;
        background-color: rgb(240 248 255 / 14%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vw;
    }
    .box input{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        text-align:left;
        font-size: 4vw;
        color: white;
        font-family: 'Dosis', sans-serif;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 11px;
        background-color: transparent;
        border-top-left-radius: 0vw;
        border-bottom-left-radius: 0vw;
        padding-left: 13vw;
        letter-spacing: 0.1vw;

      
    }
    .box img{
        width: 7vw;
        height: auto;
        margin-left: 3vw;
        opacity: 1;
      
    }
    #mic{
        width: 6vw;
        height: auto;
        margin-left: 0vw;
        position: relative;
        right: 4vw;
        opacity: 0.7;
    }
    .home-titles{
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 3vw;
        position: relative;
    bottom: 2vw;

    }
    .home-titles p{
        display: flex;
        background-color: rgba(173, 216, 230, 0.297);
        align-items: center;
        padding: 3vw;
     font-size: 4vw;
     color: rgba(0, 0, 0, 0.739);
     box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 11px;
     width: auto;
     height: 8vw;
     border-radius: 5vw;
     font-weight: 600;
   
     font-family: 'Dosis', sans-serif;
    }
    .home-titles a{
        text-decoration: none;
    }
    .home-titles p:active{
       background-color: #f2f2f2;
       color: black;
    }
    .show{
        width: 100%;
        height: 75vw;
    }
    .show-header{
        width: 100%;
        height: 10vw;
        padding: 4vw;
        display: flex;
        
        align-items: center;
    }
    .show-header p{
color: black;
font-size: 5.5vw;
font-family: 'Lora', serif;
font-weight: 600;
letter-spacing: 0.1vw;

    }
    .show-header img{
        margin-left: 2vw;
width: 7vw;
height: 7vw;
    }
    .today-show{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3vw;
        width: 37vw;
        height: 48vw;
        background-image: url('img/jawan-poster-3.jpg');
        background-size: cover;
        border-radius: 3vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    }
   .show-name{
    position: relative;
    top: 11vw;
    width: 100%;
    height: 10vw;
   }
   .show-name p{
font-size: 4vw;
color: black;
font-family: 'Dosis', sans-serif;
font-weight: 600;
letter-spacing: 0.2vw;
text-align: center;
   }
   .stars{
    display: flex;
    gap: 0.5vw;
    align-items: center;
    width: 100%;
    height: 5vw;
    justify-content: center;
   }
   .stars img{
   
    width: 2.5vw;
    height: 2.5vw;
   
   }
   .show-box{
    width: 43vw;
    height: 63vw;
    border: 1px solid #00000012;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    border-radius: 6vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
   }


















   .slider-container {
   
    max-width: 600px;
    margin: 0 auto;
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep cards in a single line */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    -ms-overflow-style: none; /* Hide IE/Edge scrollbar */
    scrollbar-width: none; /* Hide Firefox scrollbar */
}

.card-slider {
    display: inline-flex;
}

.card {
    flex: 0 0 calc(25% - 20px); /* Show 4 cards at a time with some spacing */
    background-color: #fff;
    padding: 6px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 11px;
    text-align: center;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23vw;
    border-radius: 4vw;

}

/* Hide the default scrollbar */
.slider-container::-webkit-scrollbar {
    display: none;
}
.upcoming{
    width: 100%;
    height: 10vw;
    padding: 4vw;
    display: flex;
    align-items: center;
   justify-content: center;
}
.upcoming p{
    color: black;
    font-size: 4.5vw;
    font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: 0.2vw;
    
        }
        .upcoming img{
            margin-left: 2vw;
    width: 7vw;
    height: 7vw;
        }


        .card-food-box{
            border-radius: 3vw;
            width: 100%;
            height: 100%;
            background-image: url('img/jawan-poster-3.jpg');
            background-size: cover;
        }
        #food-2{
            background-image: url('img/Tiger_3_poster.jpg');
        }
        #food-3{
            background-image: url('img/salaar.jpg');
        }
        #food-4{
            background-image: url('img/archies.jpg');
        }
        #food-5{
            background-image: url('img/yodha.jpg');
        }
      
}
