* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f0eae00a;
}
.hero-section {
    width: 100%;
    height: 56.5vw;
}

.hero-section img {
    padding: 3vw;
    width: 100%;
    height: 100%;
    border-radius: 8vw;

}

.hero-section {
    display: none;
}

img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffec8f7b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 6vw;
}

.active {
    background-color: #ffed8f;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@media (max-width:768px) {
    .navbar{
        width: 100%;
        height: 35vw;
        background-color: #1c1a29;
        border-bottom-left-radius: 7vw;
        border-bottom-right-radius: 7vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 11px;

    }
    .nav-box1{
        width: 100%;
        height: 15vw;
     
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 4vw;
    }
    .nav-box2{
        width: 100%;
        height: 15vw;
  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-box1 img{
        width: 8.5vw;
        height: 8.5vw;
       
     
    }
    .nav-box1 h3{
   font-size: 7.2vw;
   color: whitesmoke;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 0.1vw;
    }
    .box{
        width: 80%;
        height: 11vw;
        border-radius: 2.5vw;
        background-color: rgb(240 248 255 / 14%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vw;
    }
    .box input{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        text-align:left;
        font-size: 3vw;
        color: white;
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        border-top-left-radius: 0vw;
        border-bottom-left-radius: 0vw;
        padding-left: 13vw;
        letter-spacing: 0.1vw;

      
    }
    .box img{
        width: 6vw;
        height: auto;
        margin-left: 3vw;
        opacity: 1;
      
    }
    #mic{
        width: 5vw;
        height: auto;
        margin-left: 0vw;
        position: relative;
        right: 4vw;
        opacity: 0.7;
    }
    .home-titles{
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 3vw;
        position: relative;
    bottom: 2vw;

    }
    .home-titles p{
        display: flex;
      
        align-items: center;
        padding: 3vw;
     font-size: 3vw;
     color: rgba(0, 0, 0, 0.739);
   
     width: auto;
     height: 8vw;
     border-radius: 5vw;
    
   
     font-family: 'Poppins', sans-serif;
    }
    .home-titles a{
        text-decoration: none;
    }
    .home-titles p:active{
       background-color: #f2f2f2;
       color: black;
    }
    .show{
        width: 100%;
        height: 75vw;
    }
    .show-header{
        width: 100%;
        height: 10vw;
        padding: 4vw;
        display: flex;
        
        align-items: center;
    }
    .show-header p{
color: black;
font-size: 5.5vw;
font-family: 'Lora', serif;
font-weight: 600;
letter-spacing: 0.1vw;

    }
    .show-header img{
        margin-left: 2vw;
width: 7vw;
height: 7vw;
    }
    .today-show{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3vw;
        width: 37vw;
        height: 48vw;
        background-image: url('img/jawan-poster-3.jpg');
        background-size: cover;
        border-radius: 3vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    }
   .show-name{
    position: relative;
    top: 11vw;
    width: 100%;
    height: 10vw;
   }
   .show-name p{
font-size: 3.3vw;
color: black;
font-family: 'Poppins', sans-serif;
font-weight: 600;
letter-spacing: 0.2vw;
text-align: center;
   }
   #stars{
    margin-left: 1vw;
    margin-bottom: 0.5vw;
    width: 3vw;
   }
   .stars{
    display: flex;
   
    align-items: center;
    width: 100%;
    height: 5vw;
    justify-content: center;
   }
   .stars img{
   
    width: 7vw;
   }
   .stars p{
    opacity: 0.7;
   padding-left: 1.5vw;
    font-size: 2.5vw;
   }
   .show-box{
    width: 43vw;
    height: 63vw;
    border: 1px solid #00000012;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    border-radius: 6vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
   }


















   .slider-container {
   
    max-width: 600px;
    margin: 0 auto;
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep cards in a single line */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    -ms-overflow-style: none; /* Hide IE/Edge scrollbar */
    scrollbar-width: none; /* Hide Firefox scrollbar */
}

.card-slider {
    display: inline-flex;
}

.card {
    flex: 0 0 calc(25% - 20px); /* Show 4 cards at a time with some spacing */
    background-color: #fff;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 11px;
    text-align: center;
    height: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23vw;
    border-radius: 4vw;

}

/* Hide the default scrollbar */
.slider-container::-webkit-scrollbar {
    display: none;
}
.upcoming{
    width: 100%;
    height: 10vw;
    padding: 4vw;
    display: flex;
    align-items: center;
   justify-content: center;
}
.upcoming p{
    color: black;
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1vw;
    margin-right: 50vw;
    
        }
        .upcoming img{
            margin-left: 2vw;
    width: 7vw;
    height: 7vw;
        }


        .card-food-box{
            border-radius: 3vw;
            width: 100%;
            height: 100%;
            background-image: url('img/emergency-poster-5.jpg');
            background-size: cover;
        }
        #food-2{
            background-image: url('img/Tiger_3_poster.jpg');
        }
        #food-3{
            background-image: url('img/salaar.jpg');
        }
        #food-4{
            background-image: url('img/archies.jpg');
        }
        #food-5{
            background-image: url('img/yodha.jpg');
        }
        .show-section{
            width: 100%;
            height: 100%;
    
            display: flex;
        }
        .show-details{
            display: flex;
            align-items: center;
            padding-top: 5vw;
            flex-direction: column;
            width: 50vw;
            height: 70vw;
        }
        .show-details p{
            
            color: #f6b01f;
font-size: 2.5vw;
font-family: 'Merienda', cursive;
        }
        .show-details h3{
            color: #13183ded;
            padding-top: 2vw;
            font-size: 6vw;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            
                    }
            
      #time{
        opacity: 0.5;
        color: #1c1a29;
        padding-top: 2vw;
        font-size: 2.5vw;
      }
      button{
        margin-top: 3vw;
        width: 35vw;
        height: 10vw;
        border-radius: 3vw;
        border: none;
        outline: none;
        background-color: #FF9D1B;
        color: white;
        font-size: 3.5vw;
        font-family: 'Lora', serif;
        letter-spacing: 0.1vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 11px;
        font-weight: 600;

      }
      .show-details img{
width: 20vw;

      }
      .title-box{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 15vw;
        height: 17vw;
       
      }
      .title-box img{
        width: 12vw;
      
        
      }


      .hitmovie{
        width: 100%;
        height: 53vw;
      
        display: flex;
        
      }
      .hitmovie-box{
        width: 35%;
        height: 100%;
       
        background-image: url('img/jailer.jpg');
        background-size: cover;
      }
      .hitmovie-box-2{
        width: 65%;
        height: 100%;
       
        background-color: #0c0f25;
      }
      .box-title{
        width: 100%;
        height: 10vw;
     
        display: flex;
        align-items: center;
        
      }
      .box-title h4{
        color: white;
        text-transform: uppercase;
        padding-left: 3vw;
font-size: 3vw;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.1vw;
      }
      .box-title img{
        margin-left: 25vw;
width: 6.5vw;
      }
      .box-title p{
        margin-top: 0.5vw;
        color: white;
        margin-left: 1.5vw;
        font-size: 2.5vw;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
      }
      .date-box{
        width: 100%;
        height: 4vw;
    
      }
      .date-box p{
        padding-left: 3vw;
        font-size: 2vw;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.1vw;
        color: #c0c4e5a3;
        font-weight: 600;
      }
      .content-box{
        width: 100%;
    height: 36vw;
    padding-bottom: 3vw;
       
      }
      .content-box img{
        width: 12vw;
        margin-left: 4vw;
    margin-top: 4vw;
  
      }
      .drama{
        width: 100%;
        height: 6vw;
       
        display: flex;
        align-items: center;
        gap: 3vw;
        padding: 2.5vw;
        
      }
      .drama p{
        width: 12vw;
        height: 4vw;
        border: 1px solid #c0c4e5a3;
        font-size: 2vw;
        color: #c0c4e5a3;
        border-radius: 2vw;
        padding: 0.5vw;
        text-align: center;
        font-family: 'Lora', serif;
        letter-spacing: 0.1vw;
      }
      #content-p{
        padding-left: 3vw;
        font-size: 1.5vw;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.1vw;
        color: #c0c4e5a3;
        font-weight: 600;
      }

      #watch-trailer{
        opacity: 0.5;
        margin-left: 7vw;
        color: #ffc107;
        padding: 2vw;
        font-size: 1.5vw;
        border: 1.5px solid #ffc107;
        border-radius: 4vw;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 2vw;
      }
      .section-2{
        width: 100%;
        height: 140vw;
       
      }
      .section-2-header{
        width: 100%;
        height: 8vw;
 
        display: flex;
        align-items: center;
        padding: 4vw;
      
      }
      .section-2-header p{
    padding-left: 2vw;
        color: black;
        font-size: 4vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 0.1vw;
     
      }
      .section-2-box{
        width: 100;
        height: 100%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 4vw;
        padding-top: 0vw;
      }
     .section-2-movies-box{
        width: 44vw;
        height: 64vw;
        border-radius: 2VW;
        display: flex;
        flex-direction: column;
        
     }
     .section-2-movie-footer{
        width: 100%;
        height: 7vw;
       border-radius: 2VW;
        background-color: #E5E1E159;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     #movie-1{
        background-image: url('img/images-1.jfif');
        background-size: cover;
        width: 100%;
        height: 92%;
        border-radius: 2VW;
        margin-bottom: 1vw;
     }
     #movie-2{
        background-image: url('img/images-2.jfif');
        background-size: cover;
        width: 100%;
        height: 92%;
        border-radius: 2VW;
        margin-bottom: 1vw;
     }
     #movie-3{
        background-image: url('img/images-3.jfif');
        background-size: cover;
        width: 100%;
        height: 92%;
        border-radius: 2VW;
        margin-bottom: 1vw;
     }
     #movie-4{
        background-image: url('img/images-4.jpg');
        background-size: cover;
        width: 100%;
        height: 92%;
        border-radius: 2VW;
        margin-bottom: 1vw;
     }
     .footer-box-1{
        width: 50%;
        height: 100%;
 
        padding: 3vw;
        display: flex;
        align-items: center;
        gap: 1.5vw;
     }
     .footer-box-1 img{
        width: 3.5vw;
     }
     .footer-box-1 p{
        font-size: 3vw;
        font-family: 'Lora', serif;
     }
     .location-section{
        margin-top: 5vw;
        width: 100%;
        height: 20vw;
      
        display: flex;
      
        padding: 2vw;
     }
     .loaction-box-1{
        width: 24%;
height: 100%;
border-left: 1px solid rgba(160, 159, 159, 0.189);
border-top: 1px solid rgba(160, 159, 159, 0.189);
border-bottom: 1px solid rgba(160, 159, 159, 0.189);
background-color: rgba(255, 192, 203, 0.26);
border-top-left-radius: 4vw;
border-bottom-left-radius: 4vw;

    }
    .loaction-box-1 img{
        width: 15vw;
        margin-left: 5vw;
        padding: 1vw; 
    }
    .loaction-box-2{
        border-top-right-radius: 4vw;
border-bottom-right-radius: 4vw;
        width: 76%;
height: 100%;
border-right: 1px solid rgba(160, 159, 159, 0.189);
border-top: 1px solid rgba(160, 159, 159, 0.189);
border-bottom: 1px solid rgba(160, 159, 159, 0.189);

display: flex;
flex-direction: column;
justify-content: center;
padding: 3vw;
    }
    .loaction-box-2 p{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      font-size: 3.5vw;
      color: #0c0f25;
      

    }
    .home-ticket-advertise{
        width: 100%;
        height: 60vw;
 
        display: flex;
    }
    .advertise-box-1{
        width: 50%;
        height: 100%;
      
        background-image: url('img/Book-Ticket.jpg');
        background-size: cover;
        background-position: center;
    }
    .advertise-box-2{
        width: 50%;
        height: 100%;
  
        padding: 4vw;
     padding-top: 0vw;
     padding-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    .advertise-box-2 h3{
        text-align: center;
        font-size: 4vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #13183ded;
       
    }
    .advertise-box-2 img{
width: 32vw;
    }
    .advertise-box-2 p{
        padding: 1vw;
        text-align: center;
       font-size: 2.5vw;
       font-family: 'Lora', serif;
       color: gray;
            }
            .cinema{
                margin-top: 3vw;
                width: 100%;
                height: 35vw;
                background-image: url('img/big-cinema.jpg');
                background-size: cover;
                background-position: center;
            }
            .home-trailer{
                width: 100%;
                height: 50vw;
                
              
            }
}
